button {
    padding: 0.75rem 1.5rem;
    background: var(--clr-accent2);
    box-shadow: none;
    transition: 100ms;
}

button:hover {
    background: var(--clr-accent3);
}

.btn-project {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0.25rem 0.75rem;
}

.btn-contact {
    padding: 0.5rem;
}