* {
    font-family: 'Segoe UI', sans-serif;
    font-weight: lighter;
}

button {
    font-weight: 500;
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 2em;
}

strong {
    font-size: 2em;
    font-weight: 600;
}

.header-content small {
    padding-top: 1em;
}

.project-title h2 {
    font-size: 4em;
}